//variables
$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-grey: hsl(204, 43%, 93%);
$greyish-blue: hsl(218, 22%, 67%);
$white: #fbfbfb;
$grey: #afafaf;

$br: 5px;

$large-screens: 'screen and (min-width: 900px)';