* { box-sizing: border-box;}

html {
  height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  min-width: 325px;
  max-width: 400px;
  margin: auto;
  display: grid;
  background: rgb(255,255,255);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 10%, rgba(206,151,151,0.2) 100%);
  background-attachment: fixed;
  grid-template-areas: "header"
                       "img"
                       "content"
                       "footer";
}

header {
  grid-area: header;
}

header #logo {
  padding: 2em;
  width: 50%;
  max-width: 250px;
}

.img-container {
  width: 100%;
  grid-area: img;
}

.content-container {
  grid-area: content;
}

h1 {
  text-transform: uppercase;
  color:  hsl(0, 36%, 70%);
  letter-spacing: .3em;
  margin: auto;
  padding-top: 10%;
  font-weight: 300;
  font-size: 10vw;
}

h1 strong {
  color: hsl(0, 6%, 24%);
  font-weight: 600;
}

main .content {
  color: hsl(0, 36%, 70%);
  width: 85%;
  margin: auto;
  text-align: center;
}

main p {
  font-size: 0.9em;
  line-height: 1.5em;
  font-weight: 600;
}

#email-submit {
  display: flex;
  margin: 2em auto;
}

input {
  padding: 1em 2em;
  border-radius: 50px;
  border: 1px solid hsl(0, 36%, 70%);
  width: 100%;
  background-color: rgba(0,0,0,0);
  flex: 10;
}

button {
  background: url('../images/icon-arrow.svg') center no-repeat,
  linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
  padding: 0 2em;
  border-radius: 50px;
  border: none;
  margin-left: -65px;
  flex: 1;
  box-shadow: 0 2px 3px 1px hsl(0, 36%, 75%);
  transition-property: box-shadow;
  transition-duration: 400ms;
}

button:hover {
  background: url('../images/icon-arrow.svg') center no-repeat,
  hsl(0, 80%, 86%);
  box-shadow: 0 3px 15px 1px hsl(0, 36%, 75%);
}

::placeholder { color: hsl(0, 36%, 70%); }

footer {
  flex: 1;
  display: grid;
  grid-area: footer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  align-self: end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 900px) {
  body {
    min-width: 100%;
    background: url('../images/bg-pattern-desktop.svg') no-repeat;
    background-size: cover;
    grid-auto-rows: 2fr 9fr 1fr;
    grid-auto-columns: 3fr 2fr;
    grid-template-areas: " header img"
                         "content img"
                         " footer img"
  }

  header {
    width: 85%;
    margin: auto;
    padding: 0 7vw;
  }

  header #logo {
    padding: 0;
    width: 33%;
  }

  main {
    display: flex;
    flex-direction: row-reverse;
  }

  h1 {
    padding-top: 5vh;
    font-size: 4vw;
  }

  .content-container {
    align-self: center;
  }

  .img-container {
    background: url('../images/hero-desktop.jpg') no-repeat;
    background-size: cover;
  }

  .img-container img {
    opacity: 0;
  }

  main .content {
    text-align: left;
    padding: 0 7vw;
  }

  main p {
    font-size: 1em;
    line-height: 2em;
  }

  main p,
  #email-submit {
    width: 80%;
    margin-left: 0;
  }

}
