* {box-sizing: border-box;}

html {
  background-color: rgba(0,0,0,0.7);
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 375px;
  min-height: 100vh;
  margin: auto;
  background-color: $red;
  background-image: url('../images/bg-intro-mobile.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.content {
  width: 85%;
  margin: auto;
  display: grid;
  grid-auto-flow: row;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  &:hover { border-bottom: 1px solid; }
}
