main {
  @extend %text-properties;
  #try {
    background-color: $blue;
    padding: 1.25em 2.5em;
    border-radius: 10px;
    @include box-shadow(rgba(0,0,0,0.15));
  }
}

form {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 10px;
  @include box-shadow(rgba(0,0,0,0.2));
  @media #{$large-screens} {
    padding: 2em;
    margin-bottom: 3em;
  }
  margin-bottom: 2em;
  #terms {
    color: $grayish-blue;
    font-size: .7em;
    font-weight: 600;
    padding: 0 2em;
    line-height: 2em;
  }
  a {
    color: $red;
    font-weight: 700;
  }
  .input-wrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid lighten($grayish-blue, 10%);
    border-radius: 5px;
    margin: 1em 0 0;
    &:focus-within {
      border-color: $blue;
    }
  }
  .input-wrapper-error {
    border: 2px solid $red;
  }
  input {
    width: 85%;
    flex-shrink: 1;
    border: none;
    padding: 1em;
    margin: .1em 0;
    font-weight: 600;
    @media #{$medium-screens} {width: 100%;}
    &:focus {
      outline: none;
    }
    &:invalid {
      box-shadow: none;
    }
    @media #{$large-screens} {
      padding: 1em 1.5em;
    }
  }
  ::placeholder {
    font-weight: 700;
    font-size: .85em;
  }  
  #error-icon {
    background-image: url('../images/icon-error.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0.8em;
    margin-right: 1em;
  }
  .error-message {
    color: $red;
    margin: 0;
    text-align: right;
    font-size: .7em;
    padding: 0.5em;
    font-weight: 500;
  }
  button[type='submit'] {
    width: 100%;
    border: none;
    background-color: $green;
    box-shadow: 0 3px 0 1px darken($green, 5%);
    padding: 1.25em 1em;
    color: $white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
    letter-spacing: .1em;
    margin: 1em 0 0.5em;
    &:hover {
      background-color: lighten($green, 15%);
      box-shadow: 0 3px 0 1px $green;
      cursor: pointer;
    }
  }
}