//Colors
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
$white: rgba(255, 255, 255, 0.9);


// Extends
%text-properties {
  color: $white;
  text-align: center;
}

// Mixins
@mixin box-shadow($color) {
  box-shadow: 0 8px 2px 0px $color;
}
