@import 'variables';
@import 'base';
@import 'header';
@import 'main';

footer {
  @media #{$large-screens} {
    grid-column-end: span 3;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    a { color: $blue; }
  }
}