/* custom properties  */
:root {
  --color-blue: #345ff6;
  --color-gunmetal: #253347;
  --color-dark-electric-blue: #5e6e85;
  --color-pure-white: #fff;
  --gradient-1: linear-gradient(to top left, #d6e6fe, transparent);
  --gradient-2: linear-gradient(to bottom right, transparent, #d6fcfe);
  --border-radius: 1.6rem;
}

/* custom font  */
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-size: 62.5%; /* 1rem = 10px  */
}

body {
  color: var(--color-dark-electric-blue);
  display: grid;
  font-family: 'Inter';
  max-width: 960px;
  margin: 0 auto;
  gap: 4.8rem;
}

/* section {
  padding: 2.4rem;
} */

.heading {
  color: var(--color-gunmetal);
  font-weight: 600;
}
.heading-xl {
  font-size: 4.8rem;
  letter-spacing: -2px;
}
.heading-l {
  font-size: 3.2rem;
}
.heading-m {
  font-size: 2.4rem;
}
.heading-s {
  font-size: 2rem;
}
.body-m {
  font-size: 1.6rem;

  line-height: 150%;
}

.hero {
  display: grid;
  gap: 2.4rem;
}

.hero .intro {
  background: var(--gradient-1), var(--gradient-2);
  background-repeat: no-repeat;
  border-radius: 0 0 2.4rem 2.4rem;
  height: 150%;
  padding: 2.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.hero .intro .logo {
  width: 4rem;
}

.hero .details {
  margin: 0 2.4rem;
  display: grid;
  padding: 2rem;
  gap: 2.4rem;
  background-color: var(--color-pure-white);
  border-radius: var(--border-radius);
  box-shadow: 0rem 1rem 3rem 0rem rgba(143, 174, 207, 0.25);
}

form {
  display: grid;
  gap: 2.4rem;
  font-size: 1.4rem;
}

.unit-select {
  display: flex;
  justify-content: space-between;
}

.unit-select label {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1.8rem;
  font-size: 1.6rem;
  font-weight: 600;
}

/* custom radio buttons */
input[type='radio'] {
  appearance: none;
  border: 1px solid var(--color-dark-electric-blue);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

input[type='radio']:checked {
  background-color: var(--color-blue);
  border: 8px solid #e0e7ff;
}

input[type='radio']:active {
  border: 1px solid var(--color-blue);
}

input[type='radio']:hover,
.unit-inputs input:hover {
  cursor: pointer;
}

.unit-inputs {
  display: grid;
  gap: 2.4rem;
}

.unit-inputs label {
  display: grid;
  gap: 0.8rem;
}

.unit-inputs input {
  font-family: 'Inter';
  color: var(--color-gunmetal);
  font-size: 2.4rem;
  font-weight: 600;
  border: none;
  width: 80%;
}

/* border around the input and units */
.unit-input {
  border: 1px solid var(--color-dark-electric-blue);
  padding: 2rem 2.4rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.unit-input:focus-within {
  border: 1px solid var(--color-blue);
}

/* style the units after the input number*/
.unit-input span {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-blue);
}

/* remove arrows from input (chrome) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

/* remove arrows from input (firefox) */
input[type='number'] {
  -moz-appearance: textfield;
}

/* remove the inner border when an input is selected */
input:focus {
  outline: none;
  border: none;
}

.unit-input-ft-in {
  display: flex;
  justify-content: space-between;
}

.unit-input-ft-in div {
  flex-basis: 47%;
}

#metric-inputs {
  /* display: none; */
}

#imperial-inputs {
  display: none;
}

.hero .bmi-result {
  display: grid;
  grid-auto-flow: row;
  gap: 1.6rem;
  background-color: #345ff6;
  border-radius: var(--border-radius);
  color: var(--color-pure-white);
  padding: 3.2rem;
}

.bmi-score {
  display: block;
  font-weight: 600;
  padding: 1.6rem 0;
}

/***** result section  *****/

.result {
  display: grid;
  gap: 2.4rem;
}

.result-image img {
  width: 100%;
}

.result-text {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

/***** tips section  *****/

.tips {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), var(--gradient-1), var(--gradient-2);
  padding: 2.4rem;
  display: grid;
  gap: 4rem;
}

.tip-card {
  display: grid;
  gap: 3.2rem;
}

.tip-card-text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/***** limitations section  *****/
.limitations {
  padding: 2.4rem;
  display: grid;
  gap: 5.6rem;
}

.limitations-intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.limitations-list {
  display: grid;
  gap: 1.6rem;
}

.limitations-card {
  border-radius: 1.6rem;
  padding: 2.4rem;
  box-shadow: 1rem 1rem 3rem 0rem rgba(143, 174, 207, 0.25);
}

.limitations-card h4::before {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}

#limitation-gender::before {
  content: url('./assets/images/icon-gender.svg');
}
#limitation-age::before {
  content: url('./assets/images/icon-age.svg');
}
#limitation-muscle::before {
  content: url('./assets/images/icon-muscle.svg');
}
#limitation-pregnancy::before {
  content: url('./assets/images/icon-pregnancy.svg');
}
#limitation-race::before {
  content: url('./assets/images/icon-race.svg');
}

/*****
MEDIA QUERIES  
*****/

/* tablet */
@media screen and (min-width: 600px) {
  .hero .intro,
  .tips,
  .limitations {
    padding: 4rem;
  }

  .hero {
    justify-items: center;
  }

  .hero .intro h1 {
    max-width: 48rem;
  }

  .hero .details {
    max-width: 68rem;
  }

  .unit-select {
    display: grid;
    grid-auto-flow: column;
    justify-content: unset;
    justify-items: left;
    gap: 3.2rem;
  }

  .unit-inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero .bmi-result {
    grid-template-columns: repeat(2, 1fr);
    border-bottom-right-radius: 10rem;
    border-top-right-radius: 10rem;
  }

  .result {
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
  }

  .result-image {
    transform: translateX(-6.4rem);
  }

  .result-text {
    transform: translateX(-3.2rem);
  }

  .tip-card {
    grid-auto-flow: column;
  }

  .limitations-list {
    grid-template-columns: repeat(4, 1fr);
  }

  /* display 2 cards per row  */
  .limitations-card {
    grid-column: span 2;
  }

  /* if there's an odd number of cards, make the last card centered  */
  .limitations-card:last-child:nth-child(2n-1) {
    grid-column: 2/4;
  }
}

/* desktop */
@media screen and (min-width: 960px) {
  .heading-xl {
    /* font-size: 6.4rem; */
  }

  .heading-l {
    /* font-size: 4.8rem; */
  }

  .result-image,
  .result-text {
    transform: unset;
  }
}
