html {
  margin: auto;
  min-width: 300px;
}
body {
  max-width: 600px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 0 2em;
  margin: auto;
  p {
    color: hsl(229, 6%, 66%);
    line-height: 1.75em;
    font-size: .9em;
  }
}

header {
  padding: 4em 0;
  h2 {
    margin: .5em 0;
  }
  h2:first-child{
    font-weight: 200;
  }
}

.card {
  text-align: left;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 2em;
  padding: 1em 2em;
  box-shadow: 0 8px 18px 0 hsl(212, 40%, 90%) ;
  min-height: 180px;
  background-repeat: no-repeat;
  background-position: 90% 90%;
  h3 {
    margin-bottom: 0;
  }
  p {
    font-size: .8em;
    margin-top: .5em;
  }
}

#supervisor {
  border-top: 5px solid hsl(180, 62%, 55%);
  background-image: url('../images/icon-supervisor.svg');
}
#team-builder {
  border-top: 5px solid hsl(0, 78%, 62%);
  background-image: url('../images/icon-team-builder.svg');
}
#karma {
  border-top: 5px solid hsl(34, 97%, 64%);
  background-image: url('../images/icon-karma.svg');
}
#calculator {
  border-top: 5px solid hsl(212, 86%, 64%);
  background-image: url('../images/icon-calculator.svg');
}

.attribution {
  font-size: 11px;
  a { color: hsl(228, 45%, 44%); }
}
