header {
	@extend %content-wrapper;
	color: $very-dark-blue;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 6em;
	@media #{$large-screens} {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 3fr;
		grid-template-areas: "nav nav"
							 "header-content header-illustration";
	}
	nav {
		display: inline-flex;
		width: 100%;
		font-family: 'Raleway', sans-serif;
		padding: 1.5em 0;
		grid-area: nav;
		@media #{$large-screens} {
			padding: 3em 0 6em;
		}
	}
	#header-logo {
		width: 25%;
		@media #{$large-screens} {
			width: 12%;
		}
	}
	#header-links {
		display: inline;
		list-style-type: none;
		padding: 0;
		flex-grow: 1;
		margin: 0;
		text-align: right;
		font-size: 0.8em;
		@media #{$large-screens} {
			font-size: 1em;
		}
		li { 
			display: inline; 
			padding-left: 1em;
			@media #{$large-screens} {
				padding-left: 3em;
			}
		}
		a {
			text-decoration: none;
			color: inherit;
			&:hover { border-bottom: 1px solid $very-dark-blue; }
		}
	}
	.illustration {
		@extend %illustraion-properties;
		background-image: url('../images/illustration-1.svg');
		grid-area: header-illustration;
		@media #{$large-screens} {
			margin-top: 0;
		}
	}
	.header-content {
		grid-area: header-content;
		@media #{$large-screens} {
			text-align: left;
		}
	}
	h1 {
		font-size: 1.5em;
		margin: 0;
		line-height: 1.5em;
		@media #{$large-screens} {
			font-size: 2.5em;
			font-family: 'Raleway', sans-serif;
		}
	}
	p {
		font-size: 0.9em;
		line-height: 1.5em;
		@media #{$large-screens} {
			font-size: 1.15em;
		}
	}
	form {
		@media #{$large-screens} {
			display: grid;
			grid-template-columns: 3fr 2fr;
			grid-gap: 1em;		
			width: 85%;
		}
	}
	input {
		width: 100%;
		margin: 1em 0;
		padding: 0.65em 1.25em;
		border-radius: 3px;
		border: 1px solid $very-dark-blue;
		@media #{$large-screens} {
			display: inline-flex;
			margin: 0;
		}
	}
	::placeholder {
		color: $light-grey;
		font-size: 0.8em;
	}
	button {
		background-color: $bright-blue;
		color: white;
		font-weight: bold;
		width: 100%;
		padding: 0.8em;
		border: none;
		font-size: 0.9em;
		border-radius: 3px;
		&:hover {
			background-color: darken($bright-blue, 10%);
			cursor: pointer;
		}
		@media #{$large-screens} {
			text-align: center;
		}
	}
}