main, header {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  margin: auto;
  background-color: #ff7a7a;
  background-image: url("../images/bg-intro-mobile.png");
  background-size: contain;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
@media screen and (min-width: 900px) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
    background-size: cover;
  }
}

.content {
  width: 85%;
  margin: auto;
  display: grid;
  grid-auto-flow: row;
}
@media screen and (min-width: 600px) {
  .content {
    max-width: 500px;
  }
}
@media screen and (min-width: 900px) {
  .content {
    height: 100vh;
    max-width: unset;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 2em;
    padding: 7% 5%;
  }
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid;
}

header {
  margin: 5em auto 2em;
}
header h1 {
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.5em;
}
@media screen and (min-width: 900px) {
  header h1 {
    font-size: 3em;
    line-height: unset;
  }
}
header p {
  font-weight: 500;
}
@media screen and (min-width: 900px) {
  header {
    margin: auto;
    text-align: left;
  }
}

main #try {
  background-color: #6055a5;
  padding: 1.25em 2.5em;
  border-radius: 10px;
  box-shadow: 0 8px 2px 0px rgba(0, 0, 0, 0.15);
}

form {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 10px;
  box-shadow: 0 8px 2px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}
@media screen and (min-width: 900px) {
  form {
    padding: 2em;
    margin-bottom: 3em;
  }
}
form #terms {
  color: #b9b6d3;
  font-size: 0.7em;
  font-weight: 600;
  padding: 0 2em;
  line-height: 2em;
}
form a {
  color: #ff7a7a;
  font-weight: 700;
}
form .input-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid #d7d6e6;
  border-radius: 5px;
  margin: 1em 0 0;
}
form .input-wrapper:focus-within {
  border-color: #6055a5;
}
form .input-wrapper-error {
  border: 2px solid #ff7a7a;
}
form input {
  width: 85%;
  flex-shrink: 1;
  border: none;
  padding: 1em;
  margin: 0.1em 0;
  font-weight: 600;
}
@media screen and (min-width: 600px) {
  form input {
    width: 100%;
  }
}
form input:focus {
  outline: none;
}
form input:invalid {
  box-shadow: none;
}
@media screen and (min-width: 900px) {
  form input {
    padding: 1em 1.5em;
  }
}
form ::placeholder {
  font-weight: 700;
  font-size: 0.85em;
}
form #error-icon {
  background-image: url("../images/icon-error.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.8em;
  margin-right: 1em;
}
form .error-message {
  color: #ff7a7a;
  margin: 0;
  text-align: right;
  font-size: 0.7em;
  padding: 0.5em;
  font-weight: 500;
}
form button[type=submit] {
  width: 100%;
  border: none;
  background-color: #38cc8c;
  box-shadow: 0 3px 0 1px #30bb7f;
  padding: 1.25em 1em;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 1em 0 0.5em;
}
form button[type=submit]:hover {
  background-color: #75dbaf;
  box-shadow: 0 3px 0 1px #38cc8c;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  footer {
    grid-column-end: span 3;
  }
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: #6055a5;
}

/*# sourceMappingURL=style.css.map */
